<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion</title>
</head>

<body>
    <h2>Inicio</h2>
    <ul>

    {% if user.is_authenticated %}
        <li><a href={% url 'home' %}>Inicio</a></li>
        <li><a href={% url 'dispositivosView' %}>Dispositivos</a></li>
        <li><a href="{% url 'logoutAuth' %}">Cerrar sesión</a></li>
    {% else %}
        <li><a href={% url 'login' %}>Ingresar</a></li>
        <li><a href={% url 'dispositivosView' %}>Dispositivos</a></li>
        <li><a href={% url 'registrarUsuario' %}>Registrarse</a></li> 
    {% endif %}

    </ul>

    {% block content %}{% endblock %}

</body>

</html>