{% extends 'core/base.html' %}

{% block content %}

<h3>Dispositivos</h3>

<table>
    <thead>
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Fecha del dispositivo</th>
        </tr>        
    </thead>

    <tbody>
        {% for dispo in dispositivosDic %}
        <tr>
            <th scope="row"> {{ dispo.id }}</th>
            <td>{{ dispo.marca_dispositivos }}</td>
            <td>{{ dispo.modelo_dispositivos }}</td>
            <td>{{ dispo.fecha_dispositivos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<li><a href={% url 'registrarDispositivos' %}>Registrar Dispositivo</a></li> 

{% endblock %}